PORT="your backend port number"

###################################################
#  DATABASE CONNECTION STRING
###################################################
DATABASE_URL='databse connection string' 


###################################################
#  ENVIRONMENT
###################################################

NODE_ENV="development"

###################################################
#  TOKEN SETTINGS
###################################################
ACCESSS_TOKEN_SECRET_KEY="access token secret key"
ACCESS_TOKEN_EXPIRY="token expiry time in minute"
REFRESH_TOKEN_SECRET_KEY="access token secret key"
REFRESH_TOKEN_EXPIRY="token expiry time in minute"

###################################################
# CORS SETTINGS
###################################################
ALLOWED_ORIGINS="http://localhost:3000,http://localhost:5173"
